{%- if product -%}
  {%- assign whatsapp_number = "919501032126" -%}
  {%- capture whatsapp_message -%}
    Hi Risaa Design Studio! I'm interested in the "{{ product.title }}" and would love to know more. Here is the link: {{ shop.url }}{{ product.url }}
  {%- endcapture -%}
  <div class="risaa-get-in-touch">
    <h3 class="risaa-get-in-touch__heading">GET IN TOUCH</h3>
    <div class="risaa-get-in-touch__content">
      <p class="risaa-get-in-touch__text">Want the best deal, custom fit, or early delivery?</p>
      <a href="https://wa.me/{{ whatsapp_number }}?text={{ whatsapp_message | url_encode }}" 
         class="risaa-get-in-touch__link" 
         target="_blank" 
         rel="noopener">
        CHAT WITH US
      </a>
    </div>
  </div>
{%- endif -%}
